<div class="hero">
  <h1
    class="text-5xl font-bold underline antialiased font-mono tracking-wide mb-4 text-[#1B1833]"
  >
    Todo-List
  </h1>
  <button id="open" class="add-todo">Add Todo</button>
</div>

<!-- modal -->
<div class="modal-container" id="modal_container">
  <div class="modal" id="modal">
    <h1
      class="text-3xl mb-5 underline decoration-[#FCC737] font-mono font-bold antialiased text-[#A7D477]"
    >
      Add todo
    </h1>
    <form action="/tododb/add" method="POST">
      <input type="text" name="task" id="task-modal" placeholder="Add a new task..." required>
      <button type="submit" class="add-todo">Add Todo</button>
    </form>
    <button id="close" class="add-todo">Close</button>
  </div>
</div>

<!-- List of all todo -->
<div class="todo-container">
  <div class="todo-cards">
    <h1 class="text-2xl antialiased font-mono">Todo</h1>
    <p>Data todo</p>
    <form action="/tododb/id">
      <button>Edit</button>
    </form>
    <form action="/tododb/id">
      <button>Delete</button>
    </form>
  </div>
  <div class="todo-cards">
    <h1>Todo</h1>
    <p>Data todo</p>
    <form action="/tododb/id">
      <button>Edit</button>
    </form>
    <form action="/tododb/id">
      <button>Delete</button>
    </form>
  </div>
  <div class="todo-cards">
    <h1>Todo</h1>
    <p>Data todo</p>
    <form action="/tododb/id">
      <button>Edit</button>
    </form>
    <form action="/tododb/id">
      <button>Delete</button>
    </form>
  </div>
  <div class="todo-cards">
    <h1>Todo</h1>
    <p>Data todo</p>
    <form action="/tododb/id">
      <button>Edit</button>
    </form>
    <form action="/tododb/id">
      <button>Delete</button>
    </form>
  </div>
</div>
